{% extends "base.html" %}

{% block content %}

<head>
<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>

<script>

var myCenter=new google.maps.LatLng({{lat}}, {{lng}});

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:14,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);

var infowindow = new google.maps.InfoWindow({
  content:"RiteAid"
  });

google.maps.event.addListener(marker, 'click', function() {
  infowindow.open(map,marker);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
<div id="googleMap" style="width:500px;height:380px;"></div>
</body>

{% if places %}
    <form action="/choose" method="get">

    <table class="table">
    
    <tbody>
    {% for place in places.results %} 
    <tr>
    <td><input type="checkbox" name="place" value={{place.reference}}></input></td>
    <td>{{ place.name }}</td>
    <td>{{ place.vicinity }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
      <div class="submit-wrapper">
    <button type="submit" class="btn offset3">Submit</button>
  </div>
  
    </form>

{% else %}
    <p>No places are available.</p>
{% endif %}

{% endblock %}