{% extends "base.html" %}

{% block content %}

<form action="." method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
      <div class="field-wrapper span6 offset3">
        <div class="label-wrapper">
          {{ field.label_tag }}
        </div>
        <div class="value-wrapper">
          {{ field }}
          {{ field.errors }}
        </div>
      </div>
  {% endfor %}
  
  <div class="submit-wrapper">
    <button type="submit" class="btn offset3">Submit</button>
  </div>
</form>



{% endblock %}